<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cdn.discordapp.com/attachments/1001079892881973248/1217173166959497226/ESign_-_MoopX_4.8.2_1703362454.ipa?ex=66030fd8&is=65f09ad8&hm=45f56dbf651fd5d0df13f46dc3aaa2751b7a1ab6e4683e6550527d378733d98e&</string> 
                </dict>
                <dict> 
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>url</key>  
                    <string>https://w7.pngwing.com/pngs/895/199/png-transparent-spider-man-heroes-download-with-transparent-background-free-thumbnail.png</string> 
                </dict>  
                <dict> 
                    <key>kind</key>  
                    <string>full-size-image</string>  
                    <key>url</key>  
                    <string>https://w7.pngwing.com/pngs/895/199/png-transparent-spider-man-heroes-download-with-transparent-background-free-thumbnail.png</string> 
                </dict> 
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>p3.xyz.yyyue.esign</string>
                <key>bundle-version</key>
                <string>1</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>ESign - Signed By kemer</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
